html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

.navbar {
  position:fixed;
  top: 0;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: #076652;
  gap: 20px;
  z-index: 1000;
}

.nav-item, .nav-item-contact {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #F7E04C;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Cormorant', serif;
}

.nav-text {
  font-size: 18px;
  color: #F7E04C;
}

.nav-item-contact {
  padding-right: 20px;
}

.section {
  height: 100vh;
  background-color: aqua;
  margin: 0;
  padding: 0;
}

.nav-spacer {
  height: 30px;
}

.teebox-container {
  height: calc(100vh - 30px);
}


@media (max-width: 800px) {
  .nav-text, .nav-item, .nav-item-contact {
      font-size: 12px;
  }
}

@media (max-width: 600px) {
  .nav-text, .nav-item, .nav-item-contact {
      font-size: 11px;
  }
}

@media (max-width: 400px) {
  .nav-text, .nav-item, .nav-item-contact {
      font-size: 10px;
  }

  .nav-item-contact {
      padding-right: 0px;
  }

  .navbar {
      justify-content: center;
  }
}

@media (max-width: 360px) {
  .nav-text, .nav-item, .nav-item-contact {
      font-size: 9px;
  }

  .nav-item-contact {
      padding-right: 0px;
  }

  .navbar {
      justify-content: center;
  }
}
